html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family:monospace;
  padding-top:100px;
  background-image: url("./pictures/pexels-hasan-albari-1229861.jpg");
  background-size:cover;
  color:white;
}
header {
  position: fixed;
  top: 0px;
  padding: 20px;
  background: rgba(0, 226, 251, 0.2);
  margin: -10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:50px;
}
nav {
  margin-right: 40px;
  margin-top: 10px;
}
#about {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.1fr 1fr;
  text-align: left;
  grid-gap: 10px;
  width:80%;
}
#about div{
  text-align:left !important;
  margin-left:30px;
}
.profilePic {
  display: block;
  width: 320px;
  height: 400px;
  margin-left: 140px;
  grid-row: 1/3;
}
img {
  width: 10%;
  display: block;
}
.logo {
  display: block;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}

.menu,
.arrow {
  display: none;
  cursor: pointer;
}
section {
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

#skills{
text-align: center;
margin-bottom: 60px;
line-height: 60px;;
}
#skills div{
  background:rgba(204, 245, 251, 0.2);
  margin:0px -50px;
  padding:50px;
}
#skills div,
#portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  text-align: center;
}
#skills u ,#portfolio u{
  grid-column: 1/4;
  margin-bottom: 40px;
}
#skills section{
  background:black;
}
#portfolio,
#contacts {
  line-height: 40px;
}
 
#portfolio img,
#skills img {
  width: 40%;
  margin-left: 100px;
}
#portfolio div a{
  text-align: left;
  border:1px solid rgb(0, 99, 110);
  padding:20px;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 40px 40px;
  height: 200px;
}
#portfolio div:hover{
  box-shadow:0px 0px 40px;
}
#protfolio div:first-child{
  grid: row 1px / 2px;
  border-radius:10px;
  background:red;
}
#contacts, #about div  {
  text-align: center;
  border:1px solid rgb(0, 99, 110);
  padding:20px;
  box-shadow:0px 0px 10px;
}
#contacts a {
  color: rgb(0, 99, 110);
}
.arrowImg {
  display: none;
}
u{
  color:rgb(0, 226, 251);
}
h1{
  color:white;
}

@media (max-width: 700px) {
 
  header{
    height:40px;
  }
  #about {
    display: block;
    width:100%;
    margin-top:-100px;
    
  }
  .menu {
    display: block;
    margin-right: 50px;
  }
  main {
    margin-left: 40px;
  }

  img {
    display: block;
  }
  nav {
    position: absolute;
    right: 0px;
    width: 0px;
    top: -10px;
    display: flex;
    flex-direction: column;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display:none;
  }
  ul {
    flex-direction: column;
    background: rgba(0, 226, 251, 0.2);
    align-content: space-between;
    margin-top: -4px;
    padding-left: 0px;
    height: 1000px;
    justify-content: flex-start;
  }
  li {
    border-bottom: 1px solid rgb(9, 184, 203);
    padding: 20px;
    font-weight: 900;
  }
  li img {
    width:20px;
  }
  #skills,#portfolio,#contacts{
    text-align: left;
  }
  #portfolio{
    grid-template-columns: 1fr ;
  }
  #portfolio u{
    grid-column:1/2;
  }
  #skills img,
  #portfolio img {
    width: 80%;
    margin-left: 0px;
    margin-right: 20px;
    text-align: left;
  }
  .arrow,
  .arrowImg {
    display: block;
  }
  @keyframes hide {
    0% {
      width: 300px;
    }
    99.9%{
      width: 0px;
    }
    100% {
      visibility:hidden;
    }
  }
  @keyframes show {
    0% {
      width: 0px;
    }
    100% {
      width: 300px;
    }
  }
  .profilePic {
    width: 90%;
    margin: 100px auto;
    margin-bottom: 10px;
    border-radius: 0%;
  }
}
